@font-face {
  font-family: ubLight;
  src: url("./assets/fonts/Ubuntu-Light.ttf");
}

@font-face {
  font-family: ubRegular;
  src: url("./assets/fonts/Ubuntu-Regular.ttf");
}

@font-face {
  font-family: ubMedium;
  src: url("./assets/fonts/Ubuntu-Medium.ttf");
}

@font-face {
  font-family: ubBold;
  src: url("./assets/fonts/Ubuntu-Bold.ttf");
}

body,
html,
#root {
  margin: 0;
  height: 100%;
}

body{	
	font-size: 15px;
	font-weight: 300;
	font-family: 'ubRegular', sans-serif;
	text-transform: none;
	background: #f0f0f0;
	color: #575757;
}

.container{
	max-width: 2880px;
}

.containerMain{
	width: 100%;
	min-width: 70%;  /* test */
}

* {
  box-sizing: border-box;
}

a {
  color: #fff;
}

* {
  -webkit-overflow-scrolling: touch;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 177px;
  box-sizing: border-box;
}

/*  Background for components  */
.mainWrapperGame {
  max-width: 2880px;
  background: url("./assets/images/gamePageBg.png") 0 0 no-repeat;
  background-size: cover;
}
.mainWrapperTrade{
	max-width: 2880px;
	background: url("./assets/images/streamPageBg.jpg") 0 0 no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.containerStreamWrap{
	max-width: 2880px;
	background: url("./assets/images/streamPageBg.jpg") 0 0 no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.mainWrapperCatalog {
  max-width: 2880px;
  background: url("./assets/images/catalogPageBg.png") 0 0 no-repeat;
  background-size: cover;
}

@media (max-width: 1024px) and (min-width: 768px) {
  main {
    margin-left: 0;
  }  
}
@media (max-width: 1024px) {
  main {
    padding-left: 0;
  }
}
@media (max-width: 767px) {
  main {
    margin-left: 0;
  }
}